<%= form_for(@book, method: "PUT") do |f| %>
<div class="container well margin-top-20 small-container">
	<div>
		<%= link_to 'Back', books_path %>
	</div>
	
	<div class="bold margin-top-20">
		Title
	</div>
		<%= f.text_field :title %>
	<div class="bold margin-top-20">
		Author
	</div>
	<%= f.text_field :author %>
	<div class="bold margin-top-20">
		Release Date
	</div>
	<%= f.text_field :release_date %>
	<div class="bold margin-top-20">
		Image
	</div>
	<%= f.text_field :image %>

	<div class="margin-top-20">
		<a href="/" class="btn btn-default">Cancel</a>
		<button type="submit" class="btn btn-primary">Save Edits</button>
	</div>
	<% end %>

	<%= form_tag(book_path(@book.id), method: "DELETE") do %>
		<div class="margin-top-20">
			<button type="submit" class="btn btn-danger">Delete Book</button>
		<% end %>		
		</div>

</div>
