<% if user_signed_in? %>
    <%= form_for(@book, method: "PUT") do |f| %>
    <div class="container well margin-top-20 small-container">
    	<div>
    		<a href="/books"><< Go Back</a>
    	</div>
    	<div class="bold margin-top-20">
    		Title
    	</div>
    	<div class="margin-top-20">
            <%= f.text_field :title %>
    	</div>
    	<div class="bold margin-top-20">
    		Author
    	</div>
    	<div class="margin-top-20">
            <%= f.text_field :author %>
    	</div>
    	<div class="bold margin-top-20">
    		Release Date
    	</div>
    	<div class="margin-top-20">
            <%= f.text_field :release_date %>
    	</div>
    	<div class="bold margin-top-20">
    		Image
    	</div>
    	<div class="margin-top-20">
            <%= f.text_field :image %>
    	</div>
    	<div class="margin-top-20 txt-right">
    		<a href="/books" class="btn btn-default">Cancel</a>
    		<button type="submit" class="btn btn-primary">Edit Book</button>
    	</div>
    </div>
    <% end %>
    
    <%= form_tag(book_path(@book.id), method: "DELETE") do %>
    	<button type="submit" class="btn btn-danger">Delete Book</button>
    <% end %>
<% end %>